* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: #ccc;
  display: flex;
  flex-direction: row;
}

.Stories {
  background: #afa6a658;
  border: 1px solid #ffffff;
  width: 40vw;
  height: 80px;
}

.Postagens {
  background: #fefefe;
  width: 40vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.ConteudoLateral {
  display: flex;
  color: rgb(255, 255, 255);
  flex-direction: column;
  width: 15vw;
  height: 100vh;
  background-color: #000000;
  padding: 20px;
  border-right: 2px solid #ffffff;
}

.logo {
  width: 105px;
  background-color: #ccc (255, 255, 255);
}

.MenuLateral {
  display: flex;
  list-style: none;
  margin: auto;
  flex-direction: column;
  margin-top: 40px;
  list-style: none;
  gap: 30px;
}

.ConteudoPrincipal {
  display: flex;
  background-color: rgba(0, 0, 0, 0.708);
  border-left: green;
}
