* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: #5a0a0a;
  display: flex;
  width: auto;
  flex-direction: row;
}

.Stories {
  background: #000000;
  display: center;
  font-size: 15px;
  height: 80px;
}

.ConteudoLateral {
  display: block;
  color: rgb(255, 255, 255);
  flex-direction: column;
  width: 20vw;
  height: auto;
  margin-right: -180px;
  background-color: #000000;
  padding: 20px;
  border-right: 2px solid #6262626e;
}

.logo {
  width: 105px;
  margin-top: 20px;
  background-color: #ccc (255, 255, 255);
}

.MenuLateral {
  display: flex;
  list-style: none;
  margin: auto;
  flex-direction: column;
  margin-top: 40px;
  list-style: none;
  gap: 30px;
}

.ConteudoPrincipal {
  background-color: black;
  margin-left: 180px;
  margin-right: 180px;
  width: 100%;
}

.Nome-do-usuario {
  color: #ffffffc3;
}
